<!--
留言系统暂未开放，您有什么问题 或者建议 或者指正错误 请联系微信或者邮箱
-->

<head>
    <meta name="keywords" content="个人博客,iOS开发博,web开发博客,任梦晗,光头金项链的和尚个人博客,C++,PHP,iOS底层原理,iOS面试集锦" />
    <meta name="description" content="一个无力却又努力的程序员。" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="__STATIC__/index/css/base.css" rel="stylesheet">
    <link href="__STATIC__/index/css/index.css" rel="stylesheet">
    <link href="__STATIC__/index/css/m.css" rel="stylesheet">

    <script src="__STATIC__/index/js/jquery.min.js" type="text/javascript"></script>
    <script src="__STATIC__/index/js/jquery.easyfader.min.js"></script>
    <script src="__STATIC__/index/js/conn.js"></script>
    <script src="__STATIC__/index/js/nav.js"></script>
    <script src="__STATIC__/index/js/scrollReveal.js"></script>
    <!--<link rel="stylesheet" href="../../../../public/static/index/css/base.css">-->
    <!--<link rel="stylesheet" href="../../../../public/static/index/css/index.css">-->
    <!--<link rel="stylesheet" href="../../../../public/static/index/css/m.css">-->
    <!--[if lt IE 9]>
    <script src="__STATIC__/index/js/modernizr.js"></script>
    <![endif]-->
</head>